@use "../utils/box-shadow";
@use "../utils/linear-gradient";

.explorer {
  text-align: center;
  & h2 {
    margin-top: 32px;
    font-size: 30px;
  }
  & p {
    font-size: 15px;
  }
  & button {
    margin-top: 10px;
    border: 0;
    border-radius: 100px;
    font-weight: 500;
    padding: 12px 24px;
    font-size: 18px;
    color: #fff;
    background-color: #686868;
    cursor: pointer;
    transition: all 200ms;
    @include box-shadow.base-shadow;
    @include linear-gradient.gradient(0.9);
  }
  & button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
