@use "./../utils/colors";

footer {
    background-color: colors.$darkgrey;
    padding: 16px;
    color: white;
    h3 {
        font-family: "shrikhand", sans-serif;
        font-size: 19.2px;
        font-weight: 400;
        margin: 0 0 16px;
    }
    p {
        padding: 3.2px;
    }
}