@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", "cursive";
  text-align: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  padding: 1px;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1px;
}
.city i {
  font-size: 22px;
}
.city .location {
  margin: 20px 0;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 32px;
  font-size: 30px;
}
.explorer p {
  font-size: 15px;
}
.explorer button {
  margin-top: 10px;
  border: 0;
  border-radius: 100px;
  font-weight: 500;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #686868;
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  padding: 32px 16px;
}
.tuto ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 870px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 20px 32px;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: -16px;
}
.tuto li:hover {
  transform: none scale(1.02);
}
.tuto li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 21px;
}

#homepage .menus {
  background-color: #f6f6f6;
  padding: 32px 16px;
}
#homepage .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1024px) {
  #homepage .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus_cards .new {
  position: relative;
}
#homepage .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  padding: 8px;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
#homepage .card {
  flex-grow: 1;
  min-width: 480px;
}
#homepage .card_image {
  height: 192px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
  background-position: center;
}
#homepage .card_image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
#homepage .card_image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
#homepage .card_image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
#homepage .card_image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
#homepage .card_description {
  position: relative;
}
#homepage .card_description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 150ms ease-in-out;
}
#homepage .card_description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .card_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .card_description h3 {
  margin: 0 0 4px;
}

footer {
  background-color: #353535;
  padding: 16px;
  color: white;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
  font-size: 19.2px;
  font-weight: 400;
  margin: 0 0 16px;
}
footer p {
  padding: 3.2px;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page-resto header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f060";
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
}
#page-resto .banner img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}
#page-resto .resto-main {
  padding: 0px 16px;
  margin-top: -52px;
  border-radius: 32px 32px 0 0;
  z-index: 1;
  background-color: #f6f6f6;
  position: relative;
}
#page-resto .resto-main h2 {
  font-family: "shrikhand", sans-serif;
  position: relative;
}
#page-resto .resto-main h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 150ms ease-in-out;
}
#page-resto .resto-main h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 150ms ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-resto .resto-main h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-resto .resto-menu {
  padding: 16px;
}
#page-resto .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}
@media (max-width: 1024px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 16px;
}
#page-resto .menus h3::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 4px;
  width: 42px;
  background-color: #99E2D0;
}
#page-resto .menus .menus__category {
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  margin: 9px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 800;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
#page-resto .menus .menus__category .menu-item .menu-item__description {
  padding: 16px;
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item .menu-item__description h4,
#page-resto .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99E2D0;
  margin-right: -64px;
  width: 64px;
  transition: margin-right 0.5s;
}
#page-resto .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 25px;
  width: 25px;
  border-radius: 16px;
  color: #99E2D0;
}
#page-resto .menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .menus .menus__category .menu-item:hover .menu-item__check {
  margin: 0;
}
#page-resto .menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto section.order {
  height: 25vh;
  display: grid;
  place-items: center;
}
#page-resto section.order button {
  margin-top: 10px;
  border: 0;
  border-radius: 100px;
  font-weight: 500;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #686868;
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#page-resto section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
