@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* ,
::before ,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    font-family: "shrikhand" , "cursive";
    text-align: center;
    box-shadow: 0 0 7px rgb(0 0 0 /25%);
    padding: 1px;
}